<!DOCTYPE html>
<html lang="en" class="list_area">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>client</title>
    <link rel="stylesheet" href="/static/list.css">
    <!-- <link rel="stylesheet" href="/static/simplemde.min.css">
    <script src="/static/simplemde.min.js"></script> -->
</head>
<body>
    <div style="width: 100%; text-align: center;">
        <div style="width: 98%; display: inline-block;">
            <div class="half-line part1">
                <button class="button_style">导航</button>
            </div>
            
            <div class="half-line part2">
                <button class="button_style">用户信息</button>
            </div>
        </div>
    </div>

    <div class="center">
        <div style="display:inline-block;">
            <div>
                <a href="editor">
                <span>HTML学习笔记</span>
                <span>---</span>
                <span>2025年1月29日</span></a>
            </div>
            <div>
                <span>css学习笔记</span>
                <span>---</span>
                <span>2025年1月30日</span>
            </div>
            <div>
                <sapn>js学习笔记</sapan>
                <span>---</span>
                <sapn>2025年1月31日</sapn>
            </div>
        </div>
    </div>
    <script src="/static/list.js"></script>
</body>
</html>