<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/login.css">
    <script src="/static/login.js"></script>
</head>
<body>
    <div class="login-area">
        <div class="margin">
            <span>username:</span>
            <input type="text" id="text">
        </div>

        <div class="margin">
            <span>password:</span>
            <input type="password" id="password">
        </div>

        <div class="left">
            <button onclick="login_api()">login</button>
        </div>
    </div>
</body>
</html>